body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/993/original/sky.jpg?1657454006);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/* Top Part */

.container-main {
  margin: 8% auto;
  max-width: 600px;
  font-family: "Titillium Web", sans-serif;
}

.top-item {
  background-image: linear-gradient(
    90deg,
    #1e3249 0%,
    #3e76be 45%,
    rgb(236, 231, 231) 100%
  );
  color: #fff;
}

.main-temp {
  font-size: 50px;
  font-weight: 600;
}

.units {
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 600;
}

.units a {
  color: #fff;
  text-decoration: none;
}

.units .active {
  color: rgba(255, 255, 255, 0.432);;
  cursor: default;
   text-decoration: none;
}

.units span {
  position: relative;
  font-size: 25px;
  font-weight: 200;
  top: -2px;
}

#description {
  font-size: 20px;
  padding-bottom: 10px;
}

.conditions {
  font-size: 13px;
}

.conditions span:nth-child(3) {
  font-weight: 550;
}
.humidity {
  border-right: 1.5px solid #fff;
  padding-right: 19px;
}

.center-icon {
  width: 20%;
}

.main-city {
  font-size: 40px;
}

/* Bottom Part */

.bottom-item {
  color: #09127f;
}

.cities {
  font-weight: 600;
  list-style-type: none;
  padding-left: 0;
}

.line-vertical {
  border-right: 2px solid #09127f;
  margin: 10px 0;
}

.weather-forecast-day {
  font-weight: 600;
}

.weather-icon {
  width: 30px;
}

.weather-forecast-temperatures {
  font-size: 15px;
  font-weight: 600;
}

.weather-forecast-temperature-min{
   opacity: 0.8;
}

.source-link {
  text-decoration: none;
  color: #09127f;
  font-weight: 600;
}
